{% extends 'layout.html.twig' %}


{% block body %}
  <div class="container-fluid">
    <form action="{{ path('search') }}" method="POST">
      <div class="row pb-4">
        <div class="col-sm">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Wybierz kategorie</label>
              <select name="c_name" class="form-control" id="category">
              {% for cat in category %}
                <option name="c_name" value="{{ cat.name }}" >{{ cat.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Wybierz magazyn</label>
              <select name="s_name" class="form-control" id="stock">
              {% for stock in stocks %}
                <option value="{{ stock.name }}">{{ stock.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Dostępność</label>
            <select name="av" class="form-control" id="available">
              <option name="one" value="1">Dostępny</option>
              <option name="zero" value="0">Niedostępny</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn my-btn">Wyszukaj</button>
    </form>
    <h1 class="pt-4">Wszystkie sprzęty</h1>
    <div class="table-responsive">
      <table class="table table-borderless">

        <tbody>
          {% for product in products %}
          <tr>
              <th scope="row">{{ product.id }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.getStock().getName }}</td>
              {% if product.state == 1 %}
                  <td><form action="{{ path('rent') }}" method="POST"><button name="rent" value="{{ product.id }} "type="submit" class="btn btn-link">WYPOŻYCZ</button></form></td>
              {% endif %}
              {% if product.state == 0 and product.uid %}
                {% if user.getUsername == product.getUid().getUsername %}
                    <td><form action="{{ path('return') }}" method="POST"><button name="return" value="{{ product.id }} "type="submit" class="btn btn-link">ZWRÓĆ</button></form></td>
                {% else  %}
                  <td><span style="color:red">ZAREZERWOWANY</span></td>
                {% endif %}
                <td><b>{{product.getUid().getUsername}}</td>
              {% endif %}

              <td>{{ product.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
