{% extends 'layout.html.twig' %}


{% block body %}
  <div class="container-fluid">
    <h1 class="pt-4">Wyniki wyszukiwania</h1>
    <table class="table table-borderless">
    
      <tbody>
        {% for product in products  %}
          <tr>
              <th scope="row">{{ product.id }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.getStock().getName }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.state }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
